@use './partials/variables' as *;
@use './partials/reset.scss';
@import '~bootstrap/scss/bootstrap';
// @import "node_modules/font-awesome/scss/font-awesome.scss";
@import "@fortawesome/fontawesome-free/css/all.css";


.tt-search-box-input-container {
    border-radius: 5px;
}

.logo img{
    width: 120px;
}

.card-hd,
.bg-bool,
.bg-boo{
    background-color: $secondary-color;
    color: white;
}

.card-title {
    text-transform: capitalize;
}

.btn-delete,
.btn-bool,
.btn-bool-out{
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 1px 2px;
}

.btn-delete{
    border: 2px solid red;
    background-color: unset;
}

.btn-bool-out{
    border: 2px solid $primary-color;
    background-color: unset;
    color: $primary-color !important;
    

    &:hover{
        background-color: $primary-color;
        color: black !important;;
    }

}

.btn-bool{
    background-color: $primary-color;
 

    &:hover{
    border: 2px solid $primary-color;
    background-color: unset;
    color: $primary-color;
    }
}

.delete-btn{
    background-color: unset;
    border: none;
    font-size: 10px;
    position: absolute;
}

.add-btn,
.del-btn{
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    
}

.add-btn{
    background-color: $primary-color;
    padding: 0.375rem 0.75rem;
}

.del-btn{
    border-color: #ff0404;
    background-color: unset;
    padding: 0.375rem 0.90rem;
}

.bool-card{
    border-color: $primary-color !important;
}

.bool-card-dark,
.bg-bool{
    border-color: $secondary-color !important;
}

.bg-boo{
    position: absolute;
    top: 7px;
    left: -13px;
}  

.ap-card:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;   
}

.icon i{
    color: $primary-color;
}

.toggle{
    font-size: 20px;
    color: $primary-color;
    line-height: 27px;

}

.swal{
    margin-left: 15px;

}

.extra-img{
    object-fit: cover;
    width: 184px;
    height: 122px;
}

.image-edit{
    object-fit: cover;
    width: 100px;
    height: 66px;
}

.icon{
    margin-top: auto;
}

.card-description{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dash{
    height: 140px;
}